body, html
{
  margin: 0;
  padding: 0;
  background-color: rgba(218, 218, 224, 0.144);
}

.session
{
  background-color: white;
  width: 150px;
  margin-left: 40px;
  height: 20px;
  border-radius: 0 0 30px 30px;

}

.fa-solid
{
  color: rgb(221, 210, 210);
  margin-left: -40px;
  margin-top: 23px;
  position: absolute;


}

.gradient1{
  background-image: linear-gradient(hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  width: 400px;
  height: 600px;
  border-radius: 0px 0px 300px 300px;
  margin-left: -100px;
}

.smartphone1{
  box-shadow: 10px 10px 10px -8px rgb(184, 179, 179),  -10px -10px 10px -8px rgb(184, 179, 179);
  border-radius: 30px;
  width: 250px;
  padding-top: 10px;
  height: 520px;
  margin-left: 250px;
  padding-right: -30px;
  margin-top: -560px;
  background-color: white;
  
}

.header
{
  margin-left: 10px;
  margin-right: 10px;
  height: 80px;
  border-radius: 30px 30px 5px 5px;
  background-image: linear-gradient(hsl(264, 100%, 61%), hsl(293, 100%, 63%));
}

.avatar
{
  border: 1px solid white;
  height: 25px;
  border-radius:15px;
  margin-left: 25px;
  margin-top: 17px;
  clear: both;
}

.h1
{
  float:right;
  margin-top: 17px;
  margin-right:85px;
  font-size: 14px;
  color: rgb(233, 227, 227);
}

.subtitle{
  float:right;
  font-size: 10px;
  margin-top: -15px;
  margin-right: 98px;
  color:rgb(233, 227, 227);
}

.chat
{
  height: 435px;
  border-radius: 0 0 25px 25px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -15px;
  background-color: rgba(240, 236, 236, 0.993);
  clear: both;
}

.chat1
{
  background-color: rgb(219, 213, 213);
  width: 150px;
  height: 30px;
  margin-top:20px;
  margin-right: 70px;
  font-size: 12px;
  border-radius: 10px;
  float: right;
}

.text-chat1
{
  padding-left: 10px;
  line-height: 1;
  margin-top: 3px;
}

.chat2
{
  background-color: rgb(223, 217, 217);
  width: 160px;
  height: 30px;
  margin-top:10px;
  margin-right: 60px;
  font-size: 12px;
  border-radius: 10px;
  float: right;
}

.text-chat2
{
  padding-left: 10px;
  line-height: 1;
  margin-top: 2px;
}

.img-chat2
{
  height: 45px;
  border-radius: 10px;
  position:relative;
  margin-top: 10px;
  margin-left: 170px;
  clear: both;
}

.img-chat4
{
  height: 45px;
  border-radius: 10px;
  float: left;
  margin-left: 118px;
  margin-top: -50px;
}

.img-chat6
{
  float: left;
  height: 45px;
  border-radius: 10px;
  margin-left: 65px;
  margin-top: -50px;
}

.chat3
{
  background-color:rgb(253, 253, 253);
  width: 160px;
  height: 30px;
  margin-top:10px;
  margin-right: 10px;
  font-size: 12px;
  border-radius: 10px;
  float: right;
}

.text-chat3
{
  padding-left: 10px;
  line-height: 1;
  margin-top: 2px;
}

.chat4
{
  background-color: rgb(253, 253, 253);
  width: 100px;
  height: 20px;
  margin-top:10px;
  margin-right: 10px;
  font-size: 12px;
  border-radius: 10px;
  float: right;
}

.text-chat4
{
  padding-left: 10px;
  line-height: 1;
  margin-top: 5px;
}

.chat5
{
  background-color: rgb(223, 217, 217);
  width: 160px;
  height: 40px;
  margin-top:10px;
  margin-right: 60px;
  font-size: 12px;
  border-radius: 10px;
  float: right;
}

.text-chat5
{
  padding-left: 10px;
  line-height: 1;
  margin-top:1px; 
  padding-right: 5px;
}

.gradient-text{
  display: inline-block;
  height: 40px;
  margin-left: 15px;
  width: 130px;
  margin-top: 10px;
  background-image: linear-gradient(hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  border-radius: 10px 10px 10px 10px;  
}

.gradient-text-line{
  display: inline-block;
  margin-top: 15px;
  padding-left: 10px;
  color:white;
  font-size: 12px;
}

.valor
{
  display: inline-block;
  margin-top: -10px;
  margin-left: 3px;
  color: rgb(214, 210, 210);
}

.gradient-text1
{
  display: inline-block;
  height: 40px;
  margin-left: 15px;
  width: 130px;
  margin-top: 10px;
  background-image: linear-gradient(hsl(264, 100%, 61%), hsl(293, 100%, 63%));
  border-radius: 10px 10px 10px 10px;  
}

.gradient-text-line1
{
  display: inline-block;
  margin-top: 15px;
  margin-left: 10px;
  padding-left:0px;
  color:white;
  font-size: 12px;
}

.valor1
{
  display: inline-block;
  margin-top: -10px;
  margin-left: 20px;
  color: rgb(214, 210, 210);
}

.footer-form
{
  margin-top:20px;
  padding: 10px;
  border-radius: 15px;
  border:1px solid white;
  margin-left: 15px;
  width: 180px;
}

.fa-angle-right
{
  color: rgb(214, 210, 210);
  margin-top: -16px;
  margin-left: 12px;

}

.gradient-footer
{
  height: 30px;
  width: 30px;
  background-color:hsl(276, 55%, 52%);
  border-radius: 16px;
  margin-right: 25px;
  margin-top: -50px;
  position: relative;
  margin-left: 183px;
}

.link
{
  padding-left: 12px;
  padding-top: 8px;
  color: white;
}

.article2
  { 
  font-size: 30px;
  font-family: sans-serif;
  float:right;
  margin-right: 500px;
  margin-top: -350px;
  }

.article3
  {
  color: rgb(82, 82, 80);
  font-size: 15px;
  line-height: 1.5;
  font-family: sans-serif;
  width: 480px;
  float:right;
  margin-top: -300px;
  margin-right: 242px;
}

.gradient-footer1
{
  background-image:linear-gradient(hsla(228, 45%, 44%, 0.034),hsla(229, 43%, 31%, 0.034));
  border-radius: 200px 200px 0px 0px;
  height: 600px;
  width: 400px;
  margin-top: -450px;
  position: fixed;
  margin-left: 1190px;
}